body {
  background-color: #ffcd6d;
}
.main-page {
  margin: 2rem 6rem;
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eec47770;
  border-radius: 20px;
  padding: 15px 40px;
  gap: 4rem;
  overflow: hidden;
}
.link a img {
  margin-left: 10px;
}
.link a {
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: white;
}
.imag {
  background-color: #eec47770;
  border-radius: 20px;
  padding: 15px;
}
.right {
  background-color: #eec47770;
  border-radius: 20px;
  padding: 15px;
}
.menu {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 200px;
  background-color: #eec477;
  z-index: 1;
}
.inner-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
  gap: 1.8rem;
  margin: 0rem 3rem;
}
.link-menu a {
  font-family: Inter, sans-serif;
  font-size: 19px;
  font-weight: 600;
  color: white;
}
.visible {
  display: block;
}
.close-sign a img {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 30px;
  height: 30px;
  background-color: #eec47770;
  border-radius: 20px;
  padding: 15px;
}
.menu-burger {
  list-style: none;
  display: none;
}
.menu-burger.active li a {
  font-size: 17px;
  font-weight: 600;
}
.menu-burger.active {
  margin-top: 10px;
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: #eec477;
  padding: 20px 14px;
  gap: 20px;
  border-radius: 10px;
}
.part2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: Inter;
  color: white;
  font-weight: 800;
  font-size: 90px;
  text-transform: uppercase;
}
.description {
  font-family: Inter;
  color: white;
  font-weight: 700;
  font-size: 26px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.right {
  background: none;
}
.part2 .left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.part2 .left img {
  object-fit: cover;
  width: 1000px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-bottom: 240px;
  align-items: start;
}
.buttons .explore {
  background: white;
  color: #ffcd6d;
  border-radius: 16px;
  font-family: Inter;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 40px;
}
.buttons .more {
  border: 2px solid white;
  font-family: Inter;
  color: white;
  border-radius: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 40px;
  font-size: 20px;
}
/*Inceput codul lui cristi */
.collection {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.upperLine {
  position: relative;
  bottom: 10px;
  left: 16px;
}

.ZaCollectionS {
  position: relative;
  top: 7px;
}

.underLine {
  position: relative;
  top: 10px;
  right: 16px;
}

.slider {
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: white;
}
/* Sfarsit codul lui cristi */
