body {
  background-color: #ffcd6d;
}
.main-page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  position: relative;
}
.navbar {
  display: flex;
  margin: 2rem 6rem;
  justify-content: space-between;
  align-items: center;
}
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eec47770;
  border-radius: 20px;
  padding: 15px 40px;
  gap: 4rem;
  overflow: hidden;
}
.link a img {
  margin-left: 10px;
}
.link a {
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: white;
}
.imag {
  background-color: #eec47770;
  border-radius: 20px;
  padding: 15px;
}
.right {
  background-color: #eec47770;
  border-radius: 20px;
  padding: 15px;
}
.menu {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 200px;
  background-color: #eec477;
  z-index: 1;
}
.inner-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
  gap: 1.8rem;
  margin: 0rem 3rem;
}
.link-menu a {
  font-family: Inter, sans-serif;
  font-size: 19px;
  font-weight: 600;
  color: white;
}
.visible {
  display: block;
}
.close-sign a img {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 30px;
  height: 30px;
}
.menu-burger {
  list-style: none;
  display: none;
}
.menu-burger.active li a {
  font-size: 17px;
  font-weight: 600;
}
.menu-burger.active {
  margin-top: 10px;
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: #eec477;
  padding: 20px 14px;
  gap: 20px;
  border-radius: 10px;
}
.title {
  font-family: Inter;
  color: white;
  font-weight: 800;
  font-size: 20px;
}
.description {
  font-family: Inter;
  color: white;
  font-weight: 700;
  font-size: 17px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.buttons .explore {
  background: white;
  color: #ffcd6d;
}
.buttons .more {
  border: 2px solid white;
}
.popup {
  display: flex;
  align-items: end;
  justify-content: end;
  position: relative;
  margin-top: 400px; /* temporar */
}
.title-pop {
  font-family: Inter;
  color: white;
  font-weight: 900;
  font-size: 28px;
  font-style: italic;
}
.left-pop img {
  position: absolute;
  top: -150px;
  right: 200px;
}
.description-pop {
  font-family: Inter;
  color: white;
  font-weight: 800;
  font-size: 16px;
  font-style: italic;
  text-transform: uppercase;
}
.text-pop {
  font-family: Inter;
  color: white;
  font-weight: 500;
  font-size: 17px;
}
.right-pop {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1.3rem;
  border-radius: 50px 0 0 50px;
  background-color: #ffd88b;
  padding: 3rem 12rem;
  padding-right: 4rem;
}
.button-pop a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.cerc-1 {
  position: absolute;
  top: 80px;
}
.cerc-2 {
  position: absolute;
  top: 840px;
  left: 450px;
}
.cerc-3 {
  position: absolute;
  top: 640px;
  left: 570px;
}
.cerc-4 {
  position: absolute;
  top: 0px;
  z-index: -7;
  left: 550px;
}
.gif {
  display: flex;
  justify-content: center;
  margin-right: 29vh;
}
.gif img {
  height: 120px;
  width: 90px;
}
